@import "~@blueprintjs/core/lib/scss/variables";

#photoOverlayContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    #photo {
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            box-shadow: $pt-elevation-shadow-4;
        }

        transition: all 0.3s;
    }

    #photoOverlayDrawer {
        height: 100%;
        align-self: flex-end;
        justify-self: flex-end;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        background-color: $light-gray5;
        box-shadow: $pt-elevation-shadow-4;
        transition: transform 0.3s;
    }
}

.bp3-overlay-enter,
.bp3-overlay-appear {
    opacity: 0;

    #photo {
        transform: scale(0.95, 0.95);
    }

    #photoOverlayDrawer {
        transform: translate(10rem);
    }
}

.bp3-overlay-enter-active,
.bp3-overlay-appear-active {
    opacity: 1;

    #photo {
        transform: scale(1, 1);
    }

    #photoOverlayDrawer {
        transform: translate(0rem);
    }
}


.bp3-overlay-exit {
    opacity: 1;

    #photo {
        transform: scale(1, 1);
    }

    #photoOverlayDrawer {
        transform: translate(0rem);
    }
}

.bp3-overlay-exit-active {
    opacity: 0;

    #photo {
        transform: scale(0.95, 0.95);
    }

    #photoOverlayDrawer {
        transform: translate(10rem);
    }
}

#overviewContainer {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;

    #overview {
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;

        .photosLoader {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        #actionbar {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
        }

        .list {
            display: flex;
            flex-shrink: 0;
            flex-grow: 0;
            flex-wrap: wrap;

            // 400px is the minimal width for 2 cards to fit
            @media (max-width: 400px) {
                justify-content: center;
            }

            .photoCard {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s;
                user-select: none;
                height: 15rem;
                width: 20rem;
                margin: 1rem;
                padding: 0rem;
                overflow: hidden;

                img {
                    min-height: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }

}

.bp3-dark {
    #overview {}
}