.photoCard {
    img {
        transition: all 0.3s;
    }
    .selected {
        padding: 1rem;
        border-radius: 1.5rem;
    }

    .notLoaded {
        opacity: 0;
    }

    .loaded {
        opacity: 1;
    }

}